#container {
    /* 6 img * 200px*/
    width: 1200px;
    min-height: 280px;
    background: lightgray;
    font-size: 0;
    position: relative;
    left: 0;
    transition: left 1s;
}

.myImg {
    width: 200px;
    height: auto;
    vertical-align: top;
}

#slider {
    margin: 100px auto;
    width: 200px;
    height: 300px;
    background: yellow;
    overflow: hidden;
}