#a {
    width: 600px;
    height: 600px;
    display: flex;
    margin: auto;
    background: red;
}

#b {
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    background: yellow;
}

#c {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    background: lime;
}