.container {
    width: 650px;
    min-height: 480px;
    background: lightgray;
    margin: 100px auto;
    text-align: center;
}

.myImg {
    width: 200px;
    height: auto;
    vertical-align: top;
    margin: 5px;
    border: 1px solid orange;
    cursor: pointer;
}

.myImg:hover {
    border: 1px solid white;
}

.blackpanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}